<div class="navbar navbar-fixed-top color"style="top: 0;
width: 100%;">

<div align="center">
  <button type="button" class="btn btn-primary center btn-group">CSE</button>
  <!-- <button type="button" class="btn btn-primary center btn-group">CSE-E</button> -->
  <button type="button" class="btn btn-primary center btn-group">IT</button>
  <!-- <button type="button" class="btn btn-primary center btn-group">IT-E</button> -->
  <button type="button" class="btn btn-primary center btn-group">ECE</button>
  <!-- <button type="button" class="btn btn-primary center btn-group">ECE-2</button>
  <button type="button" class="btn btn-primary center btn-group">ECE-E</button> -->
  <button type="button" class="btn btn-primary center btn-group">EEE</button>
  <button type="button" class="btn btn-primary center btn-group">ICE</button>
</div>

</div>