<div style="position: relative; top: 100px; text-align: center">

  <h2 style="color: #3a3a3a">SIGs</h2>
  <mat-divider style="border-top-width: 2px;"></mat-divider>

<div class="row justify-content-center" style="padding-bottom: 2%">
    <div class="card-deck" style="padding: 1%">
      <div class="card" style="max-width: 200px">
        <img class="card-img-top" src="assets/img/electronika.jpg" alt="Card image" style="max-height: 130px">
        <div class="card-body">
          <h5 class="card-title">Electronika</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="card" style="max-width: 200px">
        <img class="card-img-top" src="assets/img/softech.jpg" alt="Card image" style="max-height: 130px">
        <div class="card-body">
          <h5 class="card-title">Soft Tech</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="card" style="max-width: 200px">
        <img class="card-img-top" src="assets/img/slash.jpg" alt="Card image" style="max-height: 130px">
        <div class="card-body">
          <h5 class="card-title">Slash 0</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    <!-- </div>
    <div class="row justify-content-center"> -->
      <!-- <div class="card-deck"> -->
        <div class="card" style="max-width: 200px">
          <img class="card-img-top" src="assets/img/sahitya.jpg" alt="Card image" style="max-height: 130px">
          <div class="card-body">
            <h5 class="card-title">Sahtiya</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="card" style="max-width: 200px">
          <img class="card-img-top" src="assets/img/groot.jpg" alt="Card image" style="max-height: 130px">
          <div class="card-body">
            <h5 class="card-title">Project Root</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      <!-- </div> -->
    </div>

  </div>
</div>
