<mat-toolbar color="primary" style="position: fixed; top: 0%; left:0%; z-index: 1;">
  <!-- <mat-card-title>
    Indian Society of Technical Education
  </mat-card-title> -->
  <mat-toolbar-row>

    <button mat-menu-item routerLink="/home">
      <!-- <mat-icon>home </mat-icon> -->
      <span routerLink="/home"><img src="assets/img/logo.png" style="width: 20px; position:inherit;" alt="BVP ISTE"></span>
      Homepage
    </button>
    <button mat-menu-item   [matMenuTriggerFor]="Yearbook2019">
      <mat-icon>book</mat-icon>
      Yearbook
    </button>
    <button mat-menu-item  [matMenuTriggerFor]="team" >
      <mat-icon>group</mat-icon>
      Team
    </button>
    <button mat-menu-item  [matMenuTriggerFor]="team" >
      <mat-icon>event</mat-icon>
      Events
    </button>
    <button mat-menu-item  >
      <mat-icon>image</mat-icon>
      Gallery
    </button>

    <button mat-menu-item  (click)="openBottomSheet()" >
      <mat-icon> contacts</mat-icon>
      Contact Us
    </button>

    <button mat-menu-item [routerLink]="['/teamRegistration']">
      <mat-icon>save</mat-icon>
      Register
    </button>




    <mat-menu #Yearbook2019="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="classes">
            <mat-icon>group</mat-icon>
            <span>2019-2020</span>
        </button>
    </mat-menu>


    <mat-menu #classes="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="shift_cs">
            <mat-icon>computer icon</mat-icon>
            <span>Computer Science</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="shift_it">
            <mat-icon>memory</mat-icon>
            <span>Information Technology</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="shift_ece">
            <mat-icon>developer_board</mat-icon>
            <span>ECE</span>
        </button>
        <button mat-menu-item>
            <mat-icon>flash_on</mat-icon>
            <span>EEE</span>
        </button>
        <button mat-menu-item>
            <mat-icon>ac_unit</mat-icon>
            <span>ICE</span>
        </button>
    </mat-menu>

    <mat-menu #shift_cs="matMenu">
    <button mat-menu-item>
        <mat-icon>wb_sunny</mat-icon>
        <span>Morning</span>
    </button>
    <button mat-menu-item>
        <mat-icon>brightness_2</mat-icon>
        <span>Evening</span>
    </button>
    </mat-menu>

    <mat-menu #shift_it="matMenu">
        <button mat-menu-item>
            <mat-icon>wb_sunny</mat-icon>
            <span>Morning</span>
        </button>
        <button mat-menu-item>
            <mat-icon>star</mat-icon>
            <span>Evening</span>
        </button>
    </mat-menu>

    <mat-menu #shift_ece="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="shift_ece_1">
            <mat-icon>wb_sunny</mat-icon>
            <span>Morning</span>
        </button>
        <button mat-menu-item>
            <mat-icon>brightness_2</mat-icon>
            <span>Evening</span>
        </button>
    </mat-menu>

    <mat-menu #shift_ece_1="matMenu">
        <button mat-menu-item>
            <mat-icon>filter_1</mat-icon>
            <span>ECE 1</span>
        </button>
        <button mat-menu-item>
            <mat-icon>filter_2</mat-icon>
            <span>ECE 2</span>
        </button>
    </mat-menu>

    <mat-menu #team="matMenu">
      <button mat-menu-item routerLink="/team2019">
        <mat-icon>group</mat-icon>
        <span>2019-2020</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
